extends layout

block links
  link(href='/archive.css', rel='stylesheet', type='text/css')

block body
  article
    .publish-date
      span.date-year
        a(href='/archives/#{year}.html') #{year}

    ul
      each article in articles
        li
          a(href="#{article.url}") #{article.title}
