article ul
  list-style-type none
  padding-left 60px

  a
    text-decoration none
    color #4183c4

    &:hover
      text-decoration underline

  li
    font-size 20px

.paging
  position relative
  min-height 70px

  a
    text-decoration none
    color #f0f0f0

    &:hover
      text-decoration underline

  .paging-next, .paging-prev
    position absolute
    font-size 24px
    padding 3px

    &:after, &:before
      border solid transparent
      content " "
      height 0
      width 0
      position absolute
      border-color rgba(0, 0, 0, 0)

  .paging-next
    right 0
    background-color #d45050
    padding-left 5px

    &:after
      left 100%
      top 50%
      border-width 21px
      margin-top -21px
      border-left-color #d45050

  .paging-prev
    background-color #6450d6
    padding-right 5px

    &:before
      right 100%
      top 50%
      border-width 21px
      margin-top -21px
      border-right-color #6450d6
