extends layout

block title
  title Kaihastu Archives

block links
  link(href='/archive.css', rel='stylesheet', type='text/css')

block body
  article
    ul
      each article in articles
        li
          a(href="#{article.url}") #{article.title}

    .paging
      if prevlink != null
        a(href='#{prevlink}').paging-prev prev

      if nextlink != null
        a(href='#{nextlink}').paging-next next
