body
  background-color #41413F

  header, footer
    a
      color #FFF
      text-decoration none

      &:hover
        text-decoration underline

  header
    border-bottom 1px #FF4D12 solid

    h1
      padding-left 30px

  footer
    border-top 1px #FF4D12 solid

    ul
      padding-left 30px
      list-style-type none

  #articleContainer
    background-color #f8f8f8
    width 100%

    article
      min-width 200px
      max-width 790px
      margin 0 auto
      padding 30px
