doctype html
html
  head
    title kaihatsu
    link(href='http://yui.yahooapis.com/pure/0.5.0/pure-min.css', rel='stylesheet', type='text/css')
    link(href='/layout.css', rel='stylesheet', type='text/css')
    block links
  body
    header.pure-u-1-1
      a(href='/')
        h1 Kaihatsu

    #articleContainer
      block body

    footer.pure-u-1-1
      ul
        li
          a.button(href="/archives") Archives
        li
          a.button(href="http://jgs.me") About me
        li
          a.button(href="https://github.com/jgsme/log") Github repository
