body
  background-color #41413F

  header, footer
    a
      color #FFF
      text-decoration none

      &:hover
        text-decoration underline

  header
    border-bottom 1px #FF4D12 solid

    h1
      padding-left 30px

  footer
    border-top 1px #FF4D12 solid

    ul
      padding-left 30px
      list-style-type none

  #articleContainer
    background-color #f8f8f8
    width 100%

    article
      min-width 200px
      max-width 790px
      margin 0 auto
      padding 30px

.publish-date
  color #f0f0f0

  a
    text-decoration none
    color #f0f0f0

    &:hover
      text-decoration underline

  .date-year, .date-month, .date-day
    position relative
    font-size 24px
    padding-top 3px
    padding-bottom 3px

    &:after
      left 100%
      top 50%
      border solid transparent
      content " "
      height 0
      width 0
      position absolute
      border-color rgba(0, 0, 0, 0)
      border-width 15px
      margin-top -15px

  .date-year
    background-color #4f99d3
    z-index 3
    padding-left 5px

    &:after
      border-left-color #4f99d3

  .date-month
    background-color #50d477
    z-index 2
    padding-left 15px

    &:after
      border-left-color #50d477

  .date-day
    background-color #d69d50
    z-index 1
    padding-left 17px

    &:after
      border-left-color #d69d50
